<p style="color: green"><%= notice %></p>

<h1>Traffic Schemes</h1>

<div id="ltns">
  <% @ltns.each do |ltn| %>
    <div id="<%= dom_id ltn %>">
      <p>
        <strong>Scheme:</strong>
        <%= link_to ltn.scheme_name, ltn %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New scheme", new_ltn_path %>
