- flash.each do |type, message|
  %div{class: "alert alert-#{bootstrap_class_for(type)} alert-dismissible fade show", role: "alert"}
    = message
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}
